@charset "utf-8";

/* 공통옵션 */
ul li {list-style:none; 
	font-size: 16px;
}
.fl {float:left; }
.tc {text-align:center; }

/* 게시판 목록 */
.board {width: 1620px;
		padding-left:0px;
}
.w380 {width:380px; }
.w760 {width:760px; }
.w150 {width:150px; }
.w60 {width:60px; }
.title {
	height: 50px;
	line-height: 50px;
	background:blue;
	font-weight: bold;
	color: white;
}
.title1{
	background: white;
}
.t_line {border-right: 1px solid gray;}
.lt_line {border-bottom:solid 1px gray;}
.list {
	height: 40px;
	line-height: 40px;
	background: white;
}
.all{
	top: 104px;
	padding: 0px 150px;


}
.all_1{
	position: fixed;
	overflow: scroll;
	width: 1653px;
	height: 602px;
	left: 150px;
	top: 297px;
	
}
.all_1>ul{
	margin-top: 10px;
}
.delete{
	width: 120px;

}

