@charset "utf-8";

/* λ…Έν† μ‚°μ¤ */
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 200;
    src: url(../fonts/Noto-Sans-KR/NotoSans-DemiLight.eot);
    src: local("Noto Sans KR DemiLight"), url(../fonts/Noto-Sans-KR/NotoSans-DemiLightd41d.eot?#iefix) format("embedded-opentype"), url(../fonts/Noto-Sans-KR/NotoSans-DemiLight.woff2) format("woff2"),
        url(../fonts/Noto-Sans-KR/NotoSans-DemiLight.woff) format("woff");
}
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/Noto-Sans-KR/NotoSans-Light.eot);
    src: local("Noto Sans KR Light"), url(../fonts/Noto-Sans-KR/NotoSans-Lightd41d.eot?#iefix) format("embedded-opentype"), url(../fonts/Noto-Sans-KR/NotoSans-Light.woff2) format("woff2"),
        url(../fonts/Noto-Sans-KR/NotoSans-Light.woff) format("woff");
}
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Noto-Sans-KR/NotoSans-Regular.eot);
    src: local("Noto Sans KR Regular"), url(../fonts/Noto-Sans-KR/NotoSans-Regulard41d.eot?#iefix) format("embedded-opentype"), url(../fonts/Noto-Sans-KR/NotoSans-Regular.woff2) format("woff2"),
        url(../fonts/Noto-Sans-KR/NotoSans-Regular.woff) format("woff");
}
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Noto-Sans-KR/NotoSans-Medium.eot);
    src: local("Noto Sans KR Medium"), url(../fonts/Noto-Sans-KR/NotoSans-Mediumd41d.eot?#iefix) format("embedded-opentype"), url(../fonts/Noto-Sans-KR/NotoSans-Medium.woff2) format("woff2"),
        url(../fonts/Noto-Sans-KR/NotoSans-Medium.woff) format("woff");
}
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/Noto-Sans-KR/NotoSans-Bold.eot);
    src: local("Noto Sans KR Bold"), url(../fonts/Noto-Sans-KR/NotoSans-Boldd41d.eot?#iefix) format("embedded-opentype"), url(../fonts/Noto-Sans-KR/NotoSans-Bold.woff2) format("woff2"),
        url(../fonts/Noto-Sans-KR/NotoSans-Bold.woff) format("woff");
}

/* karla-300 - latin */
@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/karla/karla-v15-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/karla/karla-v15-latin-300d41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/karla/karla-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/karla/karla-v15-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/karla/karla-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/karla/karla-v15-latin-300.svg#Karla') format('svg'); /* Legacy iOS */
  }
  /* karla-regular - latin */
  @font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/karla/karla-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/karla/karla-v15-latin-regulard41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/karla/karla-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/karla/karla-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/karla/karla-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/karla/karla-v15-latin-regular.svg#Karla') format('svg'); /* Legacy iOS */
  }
  /* karla-500 - latin */
  @font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/karla/karla-v15-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/karla/karla-v15-latin-500d41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/karla/karla-v15-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/karla/karla-v15-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/karla/karla-v15-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/karla/karla-v15-latin-500.svg#Karla') format('svg'); /* Legacy iOS */
  }
  /* karla-600 - latin */
  @font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/karla/karla-v15-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/karla/karla-v15-latin-600d41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/karla/karla-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/karla/karla-v15-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/karla/karla-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/karla/karla-v15-latin-600.svg#Karla') format('svg'); /* Legacy iOS */
  }
  /* karla-700 - latin */
  @font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/karla/karla-v15-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/karla/karla-v15-latin-700d41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/karla/karla-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/karla/karla-v15-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/karla/karla-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/karla/karla-v15-latin-700.svg#Karla') format('svg'); /* Legacy iOS */
  }
  /* karla-800 - latin */
  @font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/karla/karla-v15-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/karla/karla-v15-latin-800d41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/karla/karla-v15-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/karla/karla-v15-latin-800.woff') format('woff'), /* Modern Browsers */
         url('../fonts/karla/karla-v15-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/karla/karla-v15-latin-800.svg#Karla') format('svg'); /* Legacy iOS */
  }


/*Quentin*/
@font-face{
    font-family:'Quentin';
    font-style:normal;
    font-weight:500;
    src:url(../fonts/Quentin/woff/Quentin.woff) format('woff')
}

/* Roboto */
@font-face{
    font-family:'Roboto';
    font-style:normal;
    font-weight:300;
    src:url(../fonts/Roboto/woff/Roboto-Light.woff) format('woff')
}
@font-face{
    font-family:'Roboto';
    font-style:normal;
    font-weight:400;
    src:url(../fonts/Roboto/woff/Roboto-Regular.woff) format('woff')
}
@font-face{
    font-family:'Roboto';
    font-style:normal;
    font-weight:500;
    src:url(../fonts/Roboto/woff/Roboto-Medium.woff) format('woff')
}
@font-face{
    font-family:'Roboto';
    font-style:normal;
    font-weight:600;
    src:url(../fonts/Roboto/woff/Roboto-Bold.woff) format('woff')
}
















