@charset "utf-8";
.main body { height:100%; }
.main #container { width:100%;height: 100%;padding-top:10rem;padding-bottom:14.8rem; }
.main footer { position: fixed;width:100%;bottom:0; left:0; }

.section { position: relative; }

.visual_wrap { position:relative; height: 100%; }
.visual_wrap .inner { position: absolute;top:50%;left:50%;transform: translate(-50%, -50%);width: 100%; }
.visual_wrap .inner .layout { max-width:1920px; padding:0 16rem; z-index: 1;  }
.visual_wrap .inner .layout .intro_txt { position: absolute;bottom:-9rem; right:30rem;  }
.visual_wrap .inner .layout .intro_txt p { text-align: right;font-size:2.1rem;color:#555;text-decoration: underline;font-weight: 400; text-decoration-color: #555; line-height: 4rem;}
.visual_wrap .inner .layout .intro_txt p br { display: block; }
.visual_wrap .inner .layout .tit_wrap { position:relative;padding-left:19rem; display: inline-block; }
.visual_wrap .inner .layout .tit_wrap .circle_wrap { position: absolute;top:50%;left:0;transform: translateY(-50%); display: block; width:12rem; height: 12rem; }
.visual_wrap .inner .layout .tit_wrap .circle_wrap .slick-arrow { position: absolute;left:50%;transform: translateX(-50%);z-index: -1;transition: all .3s ease-in-out;width:3.4rem;display: block; }
.visual_wrap .inner .layout .tit_wrap .circle_wrap .slick-arrow i img:first-of-type+img { display: none; }

.visual_wrap .inner .layout .tit_wrap .circle_wrap .slick-arrow.prev { top:0; }
.visual_wrap .inner .layout .tit_wrap .circle_wrap .slick-arrow.next { bottom:0; }
.visual_wrap .inner .layout .tit_wrap .circle_wrap .slick-arrow.on:hover i img:first-of-type { display:none;}
.visual_wrap .inner .layout .tit_wrap .circle_wrap .slick-arrow.on:hover i img:first-of-type+img { display:block; }

.visual_wrap .inner .layout .tit_wrap .circle_wrap .slick-arrow.on.prev { top:-10rem; }
.visual_wrap .inner .layout .tit_wrap .circle_wrap .slick-arrow.on.next { bottom:-10rem; }
.visual_wrap .inner .layout .tit_wrap .arr_button { width:12rem;height: 12rem; line-height:12rem; display:block; color:#fff; background: #000; border-radius: 50%; text-align: center; font-weight: 700;font-size:1.9rem; }
.visual_wrap .inner .layout .tit_wrap .arr_button button { display: block;position: absolute; top:0;left:0;width:100%;height: 100%;border-radius: 50%; }
.visual_wrap .inner .layout .tit_wrap .arr_button .play { display: none; }
.visual_wrap .inner .layout .tit_wrap .arr_button .stop { display: none; }
.visual_wrap .inner .layout .tit_wrap .arr_button .play.on { display: block; }
.visual_wrap .inner .layout .tit_wrap .arr_button .stop.on { display: block; }
.visual_wrap .inner .layout .tit_wrap .tit_sl_wrap { overflow: hidden;position: relative; font-size:9.4rem; font-weight: 700; letter-spacing: -.5rem; display: inline-block; }
.visual_wrap .inner .layout .tit_wrap .tit_sl_wrap .tit_top { overflow: hidden;margin-bottom:4rem; line-height: 100%; }
.visual_wrap .inner .layout .tit_wrap .tit_sl_wrap .tit_top .tit_slide { line-height: 120%;display: block; float: left;margin-right:1.5rem; }
.visual_wrap .inner .layout .tit_wrap .tit_sl_wrap .tit_top .tit_slide div { line-height: 120%; }
.visual_wrap .inner .layout .tit_wrap .tit_sl_wrap .tit_top .tit_slide .slick-slide { width:auto !important; float: none;border:0; }

.visual_wrap .inner .layout .tit_wrap .tit_sl_wrap .tit_top .tit_value { line-height: 120%;overflow: hidden; }
.visual_wrap .inner .layout .tit_wrap .tit_sl_wrap .tit_bottom { line-height: 120%; }
.visual_wrap .inner .layout .tit_wrap .tit_sl_wrap .tit_bottom .tit_value { line-height: 120%; position: relative;display: inline-block; }
.visual_wrap .inner .layout .tit_wrap .tit_sl_wrap .tit_bottom .tit_value:before { content:"";width:1.7rem;height: 1.7rem;display: block;position: absolute;bottom:1rem;right:-3rem;background: #04A6E1; border-radius: 50%;}
.visual_wrap .inner .layout .visual_box { position: absolute;top: 50%;right: 0;transform: translateY(-50%);width: 110rem; }
.visual_wrap .inner .layout .visual .vs_tit { font-size:18rem;font-family: "Quentin";text-align: center;transform: rotate(-5deg);color:#04A6E1; }
.visual_wrap .inner .layout .visual .slick-list{ overflow: unset; }
.visual_wrap .inner .layout .visual div { position: relative; }
.visual_wrap .inner .layout .visual .slick-slide .vs_tit  { right: -100%; position: relative; transition: all .6s; opacity: 0;}
.visual_wrap .inner .layout .visual .slick-slide.slick-current.active .vs_tit { right: 0;  opacity: 1;}

.visual_wrap .play_bar{ position: absolute;left:50%;top:50%;transform: translate(-50%,-50%); width:100%;z-index: 0; }
.visual_wrap .play_bar { text-align: center; }
.visual_wrap .play_bar .bar_box { display: block; background: #E1E1E1;width:100%; height:1px; }
.visual_wrap .play_bar .bar_box .bar { position: relative; display: block; width:100%;height: 100%; }
.visual_wrap .play_bar .bar_box .bar:before { content: ""; display: block; position: absolute; height: 3px; background:linear-gradient(to left, #04A6E1, #04A6E1, #000);}
.visual_wrap .play_bar .bar_box .full_bar:before { animation: play_bar 5s 1;width:100%; }
.visual_wrap .play_bar .bar_box .full_bar.stop:before { animation-play-state: paused; }

/* 애니메이션 */
.ani #header { opacity:0;transform: translate3d(0,-100px,0);transition:1s; }
.main_ani.ani #header  { opacity:1;transform: translateZ(0);  }

.ani .tit_wrap { opacity:0;transform: translate3d(-500px,0,0);transition:1s; }
.main_ani.ani .tit_wrap { opacity:1;transform: translateZ(0);  }

.ani .visual_wrap .inner .layout .visual_box .visual{ opacity:0;right:-100%;transition:1s; }
.main_ani.ani .visual_wrap .inner .layout .visual_box .visual{ opacity:1;right:0;  }

.ani .intro_txt { opacity:0;transform: translate3d(200px,0,0);transition:1s; }
.main_ani.ani .intro_txt { opacity:1;transform: translateZ(0);  }

.ani #footer { opacity:0;transform: translate3d(0,100px,0);transition:1s; }
.main_ani.ani #footer{ opacity:1;transform: translateZ(0); }

@keyframes play_bar{
    0% {width:0;}
    100% {width:100%;}
}

@media (max-width:1700px){
    .visual_wrap .inner .layout { padding:0 9rem; }
    .visual_wrap .inner .layout .tit_wrap .circle_wrap { width:11rem;height:11rem; }
    .visual_wrap .inner .layout .tit_wrap .arr_button { width:11rem;height: 11rem; line-height: 11rem; font-size:1.8rem; }
    .visual_wrap .inner .layout .tit_wrap .circle_wrap .slick-arrow { width:2.9rem; }
    .visual_wrap .inner .layout .tit_wrap .circle_wrap .slick-arrow.on.prev { top:-8rem; }
    .visual_wrap .inner .layout .tit_wrap .circle_wrap .slick-arrow.on.next { bottom:-8rem; }
    .visual_wrap .inner .layout .tit_wrap { padding-left:18rem; }
    .visual_wrap .inner .layout .visual_box { width:100rem; }
    .visual_wrap .inner .layout .visual .vs_tit { font-size:16rem; }
    .visual_wrap .inner .layout .tit_wrap .tit_sl_wrap { font-size:8.4rem; }
    .visual_wrap .inner .layout .intro_txt p { font-size:1.9rem; }
}

@media (max-width:1580px){
    .visual_wrap .inner .layout .tit_wrap .circle_wrap { width:10rem;height:10rem; }
    .visual_wrap .inner .layout .tit_wrap .arr_button { width:10rem;height: 10rem; line-height: 10rem; font-size:1.7rem; }
    .visual_wrap .inner .layout .tit_wrap .circle_wrap .slick-arrow { width:2.4rem; }
    .visual_wrap .inner .layout .tit_wrap .circle_wrap .slick-arrow.on.prev { top:-6rem; }
    .visual_wrap .inner .layout .tit_wrap .circle_wrap .slick-arrow.on.next { bottom:-6rem; }
    .visual_wrap .inner .layout .tit_wrap { padding-left:17rem; }
    .visual_wrap .inner .layout .visual_box { width:90rem; }
    .visual_wrap .inner .layout .visual .vs_tit { font-size:15rem; }
    .visual_wrap .inner .layout .tit_wrap .tit_sl_wrap { font-size:7.4rem; }
    .visual_wrap .inner .layout .intro_txt p { font-size:1.7rem; }
    
}

@media (max-width:1430px){
    .visual_wrap .inner .layout .tit_wrap .circle_wrap { width:9rem;height:9rem; }
    .visual_wrap .inner .layout .tit_wrap .arr_button { width:9rem;height: 9rem; line-height: 9rem; font-size:1.6rem; }

    .visual_wrap .inner .layout .tit_wrap { padding-left:16rem; }
    .visual_wrap .inner .layout .visual_box { width:80rem; }
    .visual_wrap .inner .layout .visual .vs_tit { font-size:14rem; }
    .visual_wrap .inner .layout .tit_wrap .tit_sl_wrap { font-size:6.4rem; }
    .visual_wrap .inner .layout .intro_txt p { font-size:1.6rem; }
}


@media (max-width:1000px){
    .main body { height: auto; }
    .main footer { position: relative;bottom:auto;left:auto; }
    .main #container { padding-bottom:0; height: auto; }

    .visual_wrap .inner .layout { text-align: center;padding:0 20px; }
    .visual_wrap .inner .layout .tit_wrap .tit_sl_wrap { text-align: left; }
    .visual_wrap .inner .layout .tit_wrap .tit_sl_wrap .tit_bottom { text-align: left; }
    .visual_wrap .inner .layout .visual_box { position: relative;top:auto;right:auto;transform: none; margin:0 auto; width:100%; }
    .visual_wrap .inner { position: relative;top:auto;left:auto;transform: none;padding:12rem 0; }
    .visual_wrap .inner .layout .intro_txt { position: relative;right:auto;transform: none;bottom:auto;margin-top:5rem; }
    .visual_wrap .play_bar { top:23.5rem; }
    .visual_wrap .inner .layout .intro_txt p { text-align:center; }
    .visual_wrap .inner .layout .visual .vs_tit { transform:none; }

    .visual_wrap .inner .layout .visual_box { width:100%;margin-top:5rem; }
    .visual_wrap .inner .layout .visual .slick-slide .vs_tit { right:0; opacity: 1;} 

    .visual_wrap .inner {padding: 10rem 0;}
    .visual_wrap .inner .layout .tit_wrap .tit_sl_wrap { font-size:7.5rem; text-align: center;}
    .visual_wrap .inner .layout .tit_wrap .tit_sl_wrap .tit_top {margin-bottom: 4.5rem;}
    .visual_wrap .play_bar { top:21.5rem; }
    .visual_wrap .inner .layout .visual .vs_tit { font-size:14rem; }
    .visual_wrap .inner .layout .tit_wrap { padding-left:16rem; }
    .visual_wrap .inner .layout .visual .vs_tit { font-size:18rem; text-align: center; }
    .visual_wrap .inner .layout .visual_box {width: calc(100% + 8rem); margin-left: -4rem;}
    
    .visual_wrap .play_bar .bar_box {height: 3px;}
    .visual_wrap .play_bar .bar_box .bar:before {height: 3px;}

    .visual_wrap .inner .layout .tit_wrap .circle_wrap { width:11rem;height:11rem; }
    .visual_wrap .inner .layout .tit_wrap .arr_button { width:11rem;height: 11rem; line-height: 11rem; font-size:1.8rem; }
    .visual_wrap .inner .layout .intro_txt p { font-size:2.1rem; } 
}

@media (max-width:640px){
    .visual_wrap .inner .layout .tit_wrap .circle_wrap { display: none; }
    .visual_wrap .inner .layout .tit_wrap { padding-left:0; }
    .visual_wrap .inner .layout .tit_wrap .tit_sl_wrap .tit_bottom .tit_value:before { width:1rem;height: 1rem;right: -2rem; }

    .visual_wrap .inner .layout .tit_wrap .tit_sl_wrap { text-align: center; }
    .visual_wrap .inner .layout .tit_wrap .tit_sl_wrap .tit_bottom { text-align: center; }
    .visual_wrap .inner .layout .tit_wrap .tit_sl_wrap { font-size:6.5rem;}

    .visual_wrap .inner .layout .visual .vs_tit {font-size: 12rem;}
    .visual_wrap .play_bar {top: 20.5rem;}


}





